In [1]:
import pandas as pd
import itertools
import json
import math

In [2]:
dataset = pd.read_csv('hash.txt', header=None)

dataset.head()

                                  0
0  844082e02a27ddee8d99ea1af94a2969
1  ff96d6665b5c59d3a70bb8f2ba4f10be
2  b64a85884e2b159829331c19e05dbac9
3  1c8836719e84867c26ba2cfeb372c53d
4  b66f73ffd9008d9c99159e164261df51

In [63]:
f = open("binaries.txt", "w")

for i, row in dataset.iterrows():            
    bin_value = bin(int(row[0], 16))[2:].zfill(len(row[0]) * 4)
    f.write(bin_value + '\n')

    if (i % 10000000) == 0:
        print(i)

f.close()

In [3]:
binaries = pd.read_csv('binaries.txt', header=None)

binaries.head()

                                                   0
0  1000010001000000100000101110000000101010001001...
1  1111111110010110110101100110011001011011010111...
2  1011011001001010100001011000100001001110001010...
3  0001110010001000001101100111000110011110100001...
4  1011011001101111011100111111111111011001000000...

In [57]:
b = 16
values = [int("".join(map(str, list(i))), 2) for i in itertools.product([0, 1], repeat=b)]
db = {x: 0 for x in values}

def hyperLogLog(binary, b):
    bucket = int(binary[:b], 2)
    rest = binary[b:]
    count = 0
    for char in rest:
        if char == '0':
            count += 1
        else:
            count += 1
            break

    if db[bucket] < count:
        db[bucket] = count

    if (i % 10000000) == 0:
        print(i)

In [4]:
for i, row in binaries.iterrows():
    binary = row[0]
    hyperLogLog(binary, b)

In [90]:
with open("db.json", "w") as outfile: 
    json.dump(db, outfile, indent = 4)

In [5]:
with open('db.json') as f:
    dt = json.load(f)

In [6]:
def calc_z(values):
    z = 0
    for x in values:
        z += 2 ** (-x)
    return z

m = len(dt)
values = list(dt.values())
z = calc_z(values)
alpha = 0.7213/(1 + 1.079 / m )
E = round((alpha * float(m**2)) / z)
error = 1.04 / (math.sqrt(m))

In [7]:
E

125674524

In [8]:
error

0.0040625