In [63]:
import pandas as pd
import json

In [2]:
dataset = pd.read_csv('hash.txt', header=None)

In [4]:
chars = "!0123456789abcdefghijklmnopqrstuvwxyz"

def strToNumber(numStr):
  num = 0
  for i, c in enumerate(reversed(numStr)):
    num += chars.index(c) * (len(chars) ** i)

  return num

def numberToStr(num):
  s = ""
  while num:
    s = chars[num % len(chars)] + s
    num //= len(chars)

  return s

In [7]:
f = open("binaries.txt", "w")

for i, row in dataset.iterrows():
    decimal = strToNumber(row[0])
    binary = (bin(decimal))[2:]
    f.write(binary + '\n')
    
f.close()

In [14]:
binaries = pd.read_csv('binaries.txt', header=None)

In [12]:
pd.set_option('display.max_colwidth', None) 
binaries.head(10)

                                                                                                                                                                        0
0   110011011100101101100111101100101100101110010101110110011011011101010010111101110101100111001111101000001010100010011111110001000001011100001000101111011111100001101
1  1011100100011010010011010011000110010111110100001000010010100011110010111000110110011000010101011000111101000011100101101011010110111001001110101100000111110011011101
2  1000100101001001010001100010010111000011111111001100110100000100101100101010111000100010010110011100110001110101100011110110011000000111111000010010110000000101101100
3     1101010001101000000000010101001110001111110111001011100001110110100101001001011000110100111110111111100100011010101011111001001010011101111000011100100100000011010
4  1000100101001101110001001001001111001011100110100100011100111101000000101001101101110100100111001110111110010100110111000111100010111100000110101100110101110101001111
5   100100001110111011111000101110010101111100110001100001001011101001111000011001111111110010111101000110010001110010101011110011100100010111001101110010010011101001011
6  1011100010000101000100111101000000010010000100000000101100001011010001000000010110101110001011111011100010001000110100100010010010101000110001110111110110001111101100
7      111111101100111101100010111110110100111011000000110011111100101111111100100100000001110100000010010101101101100111011001010111011011000010011010101100101111100110
8     1101100110010111111100110001111101010100110110001100101011101110100001111101101100010111011111110010000010010111011110111011010100010100001100100111001000000110011
9    11110010011101100011100100001101110000000011101111001101010000010111001000101001111110000101011000010000011110010010111110101100101111101010011111111010100011100010

In [55]:
m = 32
db = {}

def hyperLogLog(binary, m):
    bucket = int(binary[:m], 2)
    rest = binary[m:]
    count = 0
    for char in rest:
        if char == '0':
            count += 1
        else:
            break
    
    if bucket not in db or db[bucket] < count:
        db[bucket] = count

In [59]:
for i, row in binaries.iterrows():
    binary = row[0]
    hyperLogLog(binary, m)

In [64]:
# DO NOT USE THIS CELL, IT WILL OVERWRITE THE FILE db.json!

with open("db.json", "w") as outfile: 
    json.dump(db, outfile, indent = 4)

In [65]:
with open('db.json') as f:
    dt = json.load(f)
    
dt